.chapter-carousel-slide {
    border-radius: 10px;
    padding: 1rem;
    min-width: 3rem;
    width: 80%;
}

.chapter-carousel-slide .button {
    display: block;
    margin: 0 auto
}

.BrainhubCarousel__dots .BrainhubCarousel__dot:before {
    background: var(--primary-text-color) !important;
}