.home-carousel {
    width: 600px;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    opacity: 0;
    animation: fadeInAndRise .75s .3s ease-out forwards;
    z-index: 2;
}

.arrow--inactive {
    visibility: hidden;
}

@media (max-width: 1024px) {
    .home-carousel {
        left: 0;
        right: 0;
        margin: auto;
    }
}

@media (max-width: 768px) {
    .home-carousel {
        width: 500px;
    }
}

@media (max-width: 560px) {
    .home-carousel {
        width: 400px;
    }
}

@media (max-width: 400px) {
    .home-carousel {
        width: 300px;
    }
}