.chapter-carousel-slide {
    border-radius: 10px;
    padding: 1rem;
    min-width: 3rem;
    width: 80%;
    color: #FFFFFF;
}

@media (max-width: 560px) {
    .chapter-carousel-slide {
        padding: 0 1rem;
    }
}

.chapter-carousel-slide .button {
    display: block;
    margin: 0 auto;
}

.BrainhubCarousel__dots .BrainhubCarousel__dot:before {
    background: #FFFFFF !important;
}