.chapter-container {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
}

.chapter-background-image {
    position: fixed;
    object-fit: cover;
    object-position: top;
    width: 100%;
    max-width: 768px;
    height: 30.5rem;
}

.chapter-content {
    background-color: var(--primary-background-color);
    position: relative;
    border-radius: 3rem;
    top: 25rem;
    height: 100rem;
    padding-top: 0.5rem;
}

.chapter-content > .nav {
    position: sticky;
    background-color: var(--primary-background-color);
    margin: 0 1.5rem;
    width: calc(100% - 3rem);
    height: 3rem;
    top: 0;
    padding-top: 0.5rem;
}

.chapter-content > .nav > .account-link {
    margin-top: 0.5rem;
}

.chapter-content > .nav > a > .MiniLogo {
    top: 0.5rem;
}

main {
    position: relative;
    padding: 0 2rem;
}