.form {
    max-width: 20rem;
    margin: 1rem auto;
    text-align: center;
}

.submission-error-message {
    max-width: 15rem;
    margin: 10px auto;
    background-color: var(--tertiary-color);
    color: var(--secondary-text-color);
    border-radius: 5px;
    padding: 5px 10px;
    text-align: left;
    display: flex;
    flex-direction: row;
}

.submission-error-message__text {
    margin: 0 0 0 10px;
}

.info-icon {
    width: 3rem;
}

.form-submit {
    color: var(--secondary-text-color);
}