.nav {
    margin: 0.5rem 0rem;
    align-items: center;
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 0.5rem;
}

.MiniLogo {
    position: absolute;
    height: 3rem;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

@media (max-width: 560px) {
    .MiniLogo {
        height: 2.5rem;
    }
}

.back-wrapper {
    position: absolute;
    left: 1rem;
    width: fit-content;
}

.account-link {
    position: absolute;
    right: 1rem;
}

.them-toggle-button {
    background: none;
    border: none;
    height: 2.5rem;
    width: 3rem;
    padding: 0;
    position: relative;
    left: -7rem;
    float: right;
    top: 0.25rem;
    cursor: pointer;
}

.them-toggle-button svg {
    height: 3rem;
    width: 3rem;
}

