.social-auth-button {
    cursor: pointer;
    height: 46px;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    border: none;
}

.social-auth-button span {
    margin: auto 0.5rem;
}

.google-button {
    width: 14rem;
    background-color: white;
    color: #757575;
}

.google-button:active {
    background-color: #EEEEEE;
}

.facebook-button {
    width: 16rem;
    background-color: #3C5A99;
    color: #FFFFFF;
}

.facebook-button svg {
    height: 2.8rem;
}

@media (max-width: 768px) {
    .facebook-button svg {
        height: 3.2rem;
    }

    .social-auth-button span {
        margin: auto 0.2rem;
    }

    .facebook-button span {
        margin-left: 0.8rem;
    }
}

@media (max-width: 320px) {
    .google-button span {
        margin: auto 0rem;
        width: 10rem;
    }
    
    .facebook-button span {
        margin-left: 0.7rem;
    }
}